<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Media Controls</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="#"></script>
</head>

<body>


	<div id="audio">
		<h2>Pirates of the caribbean theme song</h2>
		<audio src="../public/audio/pirates_of_the_caribbean_theme.mp3" controls></audio>
	</div>


	<div id="video1">
		<h2>1917 Official Trailer</h2>
		<video src="../public/video/1917official_trailer.mp4" controls></video>
	</div>

	<div id="video2">
		<h2>Midway Official Trailer</h2>
		<video src="../public/video/midway_offical_trailer.mp4" controls></video>
	</div>

	<script></script>
</body>

</html>